/* You can add global styles to this file, and also import other style files */
html {
	font-size: 62.5%;
}

* img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.4rem;
}
button {
	padding: 0px;
}
.flexcontainer {
	display: flex;
	flex-flow: wrap;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
.sidebar,
.searchbar,
main {
	padding: 15px;
}
.searchbar {
	order: 0;
	flex: 100%;
	border: 1px solid red;
}
.sidebar {
	flex: 25%;
	order: 1;
	border: 1px solid blue;
}

.searchbar input[type="text"],
.searchbar button,
.textadd input[type="text"],
.textadd button,
.thetxt button {
	border: 1px solid #cccccc;
    padding: 5px;
}
.searchbar button {
	margin: 0 0 0 15px;
}
.searchbarinner {
	max-width: 300px;
	float: right;
}
.textadd input[type="text"],
.textadd button,
.thetxt button {
	width: 100%;
}
.textadd button {
	margin: 5px 0 5px 0;
}
main {
	flex: 70%;
	order: 2;
	border: 1px solid black;
}
.foundtext {
	background-color: yellow;
	padding: 5px;
}
.notfoundtext {
	background-color: red;
	padding: 5px;	
}
@media screen and (max-width: 768px) {
	main {
		flex: 100%;
	}
	.sidebar {
		flex: 100%;
	}
	.searchbar {
		flex: 100%;
	}
	.searchbar input[type="text"], 
	.searchbar button {
		width: 100%;
	}
	.searchbar button {
		margin: 15px 0 15px 0;
	}
	.searchbarinner {
		float: none;
		max-width: 100%;
	}
}
