<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="flexcontainer">

	<div class="searchbar">
		<div class="searchbarinner">
			<input [(ngModel)]="_search" placeholder="Search Text" type="text" size="25" />
			<button (click)="doSearch()">Search</button>
		</div>
	</div>
	
	<div class="sidebar">
		<div class="textadd">
			<label> Add your text here </label>
			<input type="text" [(ngModel)]="_title" size="25"/>
			<button (click)="onAdd()">Add</button>
		</div>
		
		<p *ngIf="_added.length == 0">No text added</p>
		<p>
		<texti *ngFor="let texti of textarray" (textDelete)="deleteText(texti)" [theText]="texti"></texti>
		</p>
	</div>
	
	<main>
		<div id="notFound" class="notFound" *ngIf="_searched && !_result">
			<p class="notfoundtext">No results found!</p>
		</div>
		<div class="found" *ngIf="_searched && _result">
			<p>
				{{ dt | date}}
			</p>
			<p> 
				<strong>Search:</strong> {{_search}}
			</p>
			<div class="foundtextin">
				We found your text in: 
				<p class="foundtext">{{_foundtext}}</p>
			</div>
		</div>
	</main>
	
</div>

